$font-size-base: 16px;

$gold: #af9a63;
$white: #fff;
$light-gold: #D1C5A3;
$lighter-gray: #b5bbbf;
$light-gray: #899197;
$gray: #455560;
$dark-gray: #2d3439;
$navy-blue: #4e5d65;

$extra-small-width: 320px;
$small-width: 480px;
$medium-width: 768px;
$large-width: 992px;
$extra-large-width: 1400px;
$extra-larger-width: 1900px;

$columns: 12;

$header-height: 5rem;
$header-height-xl: 11rem;
$bookmark-height: 4.5rem;


