.navbar {
  float: right;

  ul {
    :hover {
      color: $light-gray;

      @include extra-large {
        color: $dark-gray;
      }
    }

    &::after {
      @include large {
        content: '';
        width: 4rem;
        height: 0.7rem;
        background-color: $gold;
        display: inline-block;
        margin-left: 15px;
        margin-top: 0.2rem;
      }
    }
  }

  li {
    text-align: left;
    color: $light-gold;
    border-bottom: 1px solid;
    pointer-events: none;
    padding: .8em 0 .8em 1.2em;

    @include large {
      border: none;
      text-align: right;
      display: inline-block;
      float: left;
      padding: 0 0 0 1rem;
    }

    @include extra-large {
      padding-left: 4rem;

      &::before {
        position: absolute;
        content: '';
        height: $bookmark-height;
        border-left: 1px solid;
        margin-top: -$bookmark-height - .5rem;
        margin-left: .1rem;
      }
    }
  }

  a {
    pointer-events: all;
    font-size: 1.5rem;
    color: $gold;

    @include large {
      font-size: 1rem;
      padding-left: .3rem;
      border-left: .1rem solid;
    }

    @include extra-large {
      border: none;
      padding: 0;
    }
  }

  &--pull-right {
    width: 100%;

    @include large {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      display: inline-block;
      width: auto;
    }
  }
}
