.site-header {
  position: fixed;
  height:$header-height;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: $dark-gray;
  border-bottom: 1px solid $gold;
  box-sizing: border-box;
  display: flex;

  @include large {
    position: relative;

  }

  @include extra-large {
    height: $header-height-xl;
    background-color: transparent;
    border: none;
  }

  &__logo {
    width: 40px;
    height: 40px;

    @include extra-large {
      width: 140px;
      height: 140px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__menu-content {
    position: absolute;

    height: 100%;
    width: $sidebar-width;
    position: fixed;
    top: $header-height;
    right: -$sidebar-width;
    transition: right .3s ease-in-out;
    background-color: $dark-gray;
    overflow-y: auto;

    @include large {
      background-color: transparent;
      position: absolute;
      display: inline-block;
      top: 0;
      right: 0;
      width: 100%;
    }

    &--is-visible {
      top: 0;
      right: 0;
      display: block;
      margin-top: $header-height;
      // position: fixed;
      z-index: 4;

      @include large {
        margin: auto;
      }
    }
  }

  &__menu-icon {
    position: relative;
    width: 30px;
    height: 19px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 3px;
      background-color: $gold;
      transform-origin: 100% 0;
      transition: transform .3s ease-out;
    }

    &__middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 30px;
      height: 3px;
      background-color: $gold;
      transition: all .3s ease-out;
      transform-origin: 100% 50%;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 30px;
      height: 3px;
      background-color: $gold;
      transform-origin: 100% 100%;
      transition: transform .3s ease-out;
    }

    @include large {
      display: none;
    }
  }

  &__menu-icon--close-x {
    &::before {
      transform: rotate(-45deg) scaleX(0.8);
    }

    .site-header__menu-icon__middle {
      opacity: 0;
      transform: scaleX(0);
    }

    &::after {
      transform: rotate(45deg) scaleX(0.8);
    }
  }

}


